body{
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

.margin {
  margin: 5px;
}

.center{
  text-align: center;
}

.header{
  max-height: 200px;
}

.card{
  background-color: darkgrey;
}